@import "/src/styles/variables.scss";
@import "/src/styles/typography.scss";

.baseBtn {
  width: fit-content;
  padding: 0.8rem 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  border-radius: 1.2rem;

  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.015rem;

  cursor: pointer;

  &:global {
    &.primary-type {
      border: none;
      background-color: $stem-green;
      color: $dark-primary;
    }

    &.ghost-type {
      border: none;
      background-color: transparent;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(135deg, #d7eded50 -50%, #ccebeb00 100%);
        opacity: 0;
        transition: 0.3s;

        border-radius: inherit;
      }

      &:hover::before {
        opacity: 1;
      }
    }

    &.glass-type {
      background: linear-gradient(
        180deg,
        #d7eded70 -50%,
        rgba(204, 235, 235, 0) 110%
      );
      border: none;
      border-radius: 1.2rem;
      height: 4.8rem;
      color: #9b9c9e;

      &:hover {
        color: #0c1132;
        background: #b6f09c;
      }
    }

    &:has(.icon:only-child) {
      padding: 1.2rem;
      border-radius: 0.8rem;
    }
  }
}
