@import "/src/styles/typography.scss";

.daoCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIntro 0.5s ease-in-out;
  font-size: 1.2rem;
  position: relative;
  background-color: rgba(26, 29, 33, 0.5);

  &:global {
    &.ripe {
      animation: shake 2s;
      animation-iteration-count: infinite;
      animation-delay: var(--animationDelay);
    }

    > .amount {
      display: flex;
      align-items: center;
      color: transparent;
      font-weight: bold;
      margin-bottom: var(--vertical-spacing);
    }

    > .dao-cell-btn {
      border-radius: 2.4rem;
      padding: 0.8rem;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1/1;
      transition: 0.2s;

      cursor: pointer;

      position: relative;

      &::before {
        content: "";
        display: block;
        width: calc(100% + var(--progress-width));
        height: calc(100% + var(--progress-width));
        border-radius: 99rem;
        position: absolute;
        background: conic-gradient(
          var(--progress-color) calc(var(--progress) - 0.01deg),
          transparent var(--progress)
        );
        z-index: -1;
      }

      .btn-text {
        max-width: 0;
        overflow: hidden;
        transition: 0.2s;
        color: transparent;

        @include txt-l-semibold;
      }
    }

    > .explore-transaction {
      background-color: transparent;
      border: none;
      margin-bottom: 0;
      padding: 0;

      transition: 0.4s;

      cursor: pointer;

      > img {
        width: var(--globe-size);
        aspect-ratio: 1/1;
        max-height: 0;
        transition: 0.4s;
      }
      &:hover {
        filter: drop-shadow(0 0 0.4rem var(--globe-shadow-color));
        transform: scale(1.1);
      }
    }

    &.selected {
      box-shadow: inset 0 0 0.4rem 0.4rem #38effe, 0 0 0.4rem 0 #00ebff,
        inset 0 0 6.4rem 0 #00ebff;

      &::after {
        --checkbox-size: 5rem;
        content: "";
        position: absolute;
        top: -1rem;
        right: -1rem;
        display: block;
        width: var(--checkbox-size);
        height: var(--checkbox-size);
        z-index: 1;
        background: url("../../assets/icons/selected-deposit.svg")
          center/var(--checkbox-size) var(--checkbox-size) no-repeat;
      }
    }

    &:hover {
      > .explore-transaction {
        margin-bottom: var(--vertical-spacing);

        img {
          max-height: 3.6rem;
        }
      }
    }

    &:not(.small-size):hover {
      .dao-cell-btn {
        padding: 0.8rem 2.4rem;
        gap: 1.2rem;
      }
      .btn-text {
        transition: 0.3s;
        max-width: 100%;
      }
    }

    &.small-size:hover {
      .dao-cell-btn {
        padding: 0.6rem 1rem;
        gap: 0.4rem;
      }
      .btn-text {
        font-size: 1.2rem;
        transition: 0.3s;
        max-width: 100%;
      }
    }

    &.large-size {
      width: 25.6rem;
      height: 25.6rem;
      border-radius: 3.6rem;
      transition: box-shadow 0.5s;

      --vertical-spacing: 1.8rem;

      &:hover {
        transition: box-shadow 0.3s;
      }

      .amount-icon {
        width: 3rem;
      }
      .amount {
        gap: 0.8rem;
        margin-bottom: 3.6rem;
        font-size: 3.2rem;
      }
      .dao-cell-btn {
        height: 4.8rem;
      }
      .btn-icon {
        height: 2rem;
      }
      .explore-transaction {
        --globe-size: 3.6rem;
      }
    }

    &.medium-size {
      width: 19.6rem;
      height: 19.6rem;
      border-radius: 2.4rem;
      transition: box-shadow 0.4s;

      --vertical-spacing: 1.2rem;

      &:hover {
        transition: box-shadow 0.4s;
      }

      .amount-icon {
        width: 2.4rem;
      }
      .amount {
        gap: 0.6rem;
        font-size: 2.8rem;
      }
      .dao-cell-btn {
        height: 4.2rem;
      }
      .btn-icon {
        height: 1.8rem;
      }
      .explore-transaction {
        --globe-size: 2.8rem;
      }
    }

    &.small-size {
      width: 12.2rem;
      height: 12.2rem;
      border-radius: 1.2rem;
      transition: box-shadow 0.3s;

      --vertical-spacing: 0.6rem;

      &:hover {
        transition: box-shadow 0.3s;
      }

      .amount-icon {
        width: 1.8rem;
      }
      .amount {
        gap: 0.4rem;
        margin-bottom: 1.2rem;
        font-size: 1.6rem;
      }
      .dao-cell-btn {
        height: 2.8rem;
      }
      .btn-icon {
        height: 1.2rem;
      }
      .explore-transaction {
        --globe-size: 2rem;
      }
    }

    &.deposit-type {
      background: url("../../assets/icons/chip-deposit.svg") center/contain
        no-repeat;

      .amount,
      .btn-text {
        background: linear-gradient(75deg, #82dbf7 0%, #b6f09c 100%);
        background-clip: text;
      }

      .dao-cell-btn {
        box-shadow: inset 0.4rem 0.4rem 0.8rem 0 rgba(0, 153, 81, 0.4),
          inset -0.2rem -0.2rem 0.8rem 0 rgba(207, 247, 211, 0.4);
        background-color: #263520;
        --progress-color: #b6f09c;
      }

      > .explore-transaction {
        &:hover {
          --globe-shadow-color: #b6f09c;
        }
      }

      &::after {
        ::after {
          --checkmark-size: 7.2rem;
        }
      }

      &.large-size {
        .dao-cell-btn {
          --progress-width: 0.6rem;
        }

        &:not(.selected) {
          box-shadow: inset 1rem 1rem 3.2rem 0 rgba(56, 239, 254, 0.5),
            0.4rem 0.4rem 3.2rem 0 rgba(56, 239, 254, 0.25),
            inset -0.2rem -0.2rem 1.6rem 0 #38effe;
          &:hover {
            box-shadow: inset 1rem 1rem 3.2rem 0 rgba(56, 239, 254, 0.5),
              0.4rem 0.4rem 3.2rem 0 rgba(56, 239, 254, 0.25),
              inset -0.2rem -0.2rem 12.8rem 0 #38effe;
          }
        }
      }
      &.medium-size {
        .dao-cell-btn {
          --progress-width: 0.5rem;
        }

        &:not(.selected) {
          box-shadow: inset 0.8rem 0.8rem 2.8rem 0 rgba(56, 239, 254, 0.5),
            0.4rem 0.4rem 3.2rem 0 rgba(56, 239, 254, 0.25),
            inset -0.2rem -0.2rem 0.8rem 0 rgba(56, 239, 254, 0.25);

          &:hover {
            box-shadow: inset 0.8rem 0.8rem 6.4rem 0 rgba(56, 239, 254, 0.5),
              0.4rem 0.4rem 3.2rem 0 rgba(56, 239, 254, 0.25),
              inset -0.2rem -0.2rem 6.4rem 0 rgba(56, 239, 254, 0.5);
          }
        }
      }
      &.small-size {
        .dao-cell-btn {
          --progress-width: 0.4rem;
        }

        &:not(.selected) {
          box-shadow: inset 0.4rem 0.4rem 1.6rem 0 rgba(56, 239, 254, 0.7),
            0.2rem 0.2rem 1.6rem 0 rgba(56, 239, 254, 0.5),
            inset 0 0 0.8rem 0 rgba(56, 239, 254, 0.25);
          &:hover {
            box-shadow: inset 0.4rem 0.4rem 2.8rem 0 rgba(56, 239, 254, 0.7),
              0.2rem 0.2rem 1.6rem 0 rgba(56, 239, 254, 0.5),
              inset 0 0 9.2rem 0 rgba(56, 239, 254, 0.25);
          }
        }
      }
    }

    &.withdraw-type {
      background: url("../../assets/icons/chip-withdraw.svg") center/contain
        no-repeat;

      .amount,
      .btn-text {
        background: linear-gradient(75deg, #ca6100 0%, #f90 100%);
        background-clip: text;
      }

      .dao-cell-btn {
        box-shadow: inset 0.4rem 0.4rem 0.8rem 0 rgba(153, 115, 0, 0.4),
          inset -0.2rem -0.2rem 0.8rem 0 rgba(247, 247, 207, 0.4);
        background-color: #352520;
        --progress-color: #d46c00;
      }

      > .explore-transaction {
        &:hover {
          --globe-shadow-color: #d46c00;
        }
      }

      &.large-size {
        .dao-cell-btn {
          --progress-width: 0.6rem;
        }

        box-shadow: inset 1rem 1rem 3.2rem 0 rgba(255, 205, 141, 0.5),
          0.4rem 0.4rem 3.2rem 0 rgba(255, 205, 141, 0.25),
          inset -0.2rem -0.2rem 1.6rem 0 #ffcd8d;

        &:hover {
          box-shadow: inset 1rem 1rem 3.2rem 0 #ffcd8d,
            0.4rem 0.4rem 3.2rem 0 rgba(255, 205, 141, 0.25),
            inset -0.2rem -0.2rem 12.8rem 0 #ffcd8d;
          transition: 0.2s;
        }
      }
      &.medium-size {
        .dao-cell-btn {
          --progress-width: 0.5rem;
        }

        box-shadow: inset 0.8rem 0.8rem 2.8rem 0 rgba(255, 205, 141, 0.5),
          0.4rem 0.4rem 3.2rem 0 rgba(255, 205, 141, 0.25),
          inset -0.2rem -0.2rem 0.8rem 0 rgba(255, 205, 141, 0.25);

        &:hover {
          box-shadow: inset 0.8rem 0.8rem 6.4rem 0 rgba(255, 205, 141, 0.5),
            0.4rem 0.4rem 3.2rem 0 rgba(255, 205, 141, 0.25),
            inset -0.2rem -0.2rem 6.4rem 0 rgba(255, 205, 141, 0.5);
        }
      }
      &.small-size {
        .dao-cell-btn {
          --progress-width: 0.4rem;
        }

        box-shadow: inset 0.4rem 0.4rem 1.6rem 0 rgba(255, 205, 141, 0.7),
          0.2rem 0.2rem 1.6rem 0 rgba(255, 205, 141, 0.5),
          inset 0 0 0.8rem 0 rgba(255, 205, 141, 0.25);

        &:hover {
          box-shadow: inset 0.4rem 0.4rem 2.8rem 0 rgba(255, 205, 141, 0.7),
            0.2rem 0.2rem 1.6rem 0 rgba(255, 205, 141, 0.5),
            inset 0 0 9.2rem 0 rgba(255, 205, 141, 0.25);
        }
      }
    }
  }
}

@keyframes rotateShadow {
  0% {
    box-shadow: inset 1rem 1rem 3.2rem 0 rgba(56, 239, 254, 0.5),
      0.4rem 0.4rem 3.2rem 0 rgba(56, 239, 254, 0.25),
      inset -0.2rem -0.2rem 12.8rem 0 #38effe;
  }
  100% {
    box-shadow: inset -1rem -1rem 2.4rem 0 rgba(56, 239, 254, 0.5),
      -0.4rem -0.4rem 2.4rem 0 rgba(56, 239, 254, 0.25),
      inset 0.2rem 0.2rem 9.6rem 0 #38effe;
  }
}

@keyframes rotateCellProgress {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
