@import "./variables.scss";

html {
  font-size: 62.5%;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #060708;

  @media (min-width: 1440px) {
    font-size: calc(100vw / 144);
  }

  @media (max-width: 1440px) {
    font-size: calc(100vw / 144);
  }

  @media (max-width: 1024px) {
    font-size: calc(100vw / 102.4);
  }

  @media (max-width: 768px) {
    font-size: calc(100vw / 76.8);
  }
  @media (max-width: 480px) {
    font-size: calc(100vw / 48);
  }
}

#root {
  width: 100%;
  height: 100svh;
}

.highlight-txt {
  color: transparent;
  background: $gradient-green;
  background-clip: text;
}
