body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  border: none;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
  position: absolute;
}

@keyframes rainbow {
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: lime;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
}

@keyframes fadeIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    border-color: #bd491398;
  }
  50% {
    border-color: #ffffff;
  }
  100% {
    border-color: #00c891;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
}

@keyframes loading-rainbow {
  0% {
    border-top-color: red;
  }
  16.67% {
    border-top-color: yellow;
  }
  33.33% {
    border-top-color: green;
  }
  50% {
    border-top-color: cyan;
  }
  66.67% {
    border-top-color: blue;
  }
  83.33% {
    border-top-color: magenta;
  }
  100% {
    border-top-color: red;
  }

  0% {
    border-right-color: red;
  }
  16.67% {
    border-right-color: yellow;
  }
  33.33% {
    border-right-color: green;
  }
  50% {
    border-right-color: cyan;
  }
  66.67% {
    border-right-color: blue;
  }
  83.33% {
    border-right-color: magenta;
  }
  100% {
    border-right-color: red;
  }

  0% {
    border-left-color: red;
  }
  16.67% {
    border-left-color: yellow;
  }
  33.33% {
    border-left-color: green;
  }
  50% {
    border-left-color: cyan;
  }
  66.67% {
    border-left-color: blue;
  }
  83.33% {
    border-left-color: magenta;
  }
  100% {
    border-left-color: red;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(0.1rem, 0.1rem) rotate(0deg);
  }
  10% {
    transform: translate(-0.1rem, -0.2rem) rotate(-1deg);
  }
  20% {
    transform: translate(-0.3rem, 0) rotate(1deg);
  }
  30% {
    transform: translate(0.3rem, 0.2rem) rotate(0deg);
  }
  40% {
    transform: translate(0.1rem, -0.1rem) rotate(1deg);
  }
  50% {
    transform: translate(-0.1rem, 0.2rem) rotate(-1deg);
  }
  60% {
    transform: translate(-0.3rem, 0.1rem) rotate(0deg);
  }
  70% {
    transform: translate(0.3rem, 0.1rem) rotate(-1deg);
  }
  80% {
    transform: translate(-0.1rem, -0.1rem) rotate(1deg);
  }
  90% {
    transform: translate(0.1rem, 0.2rem) rotate(0deg);
  }
  100% {
    transform: translate(0.1rem, -0.2rem) rotate(-1deg);
  }
}

@keyframes warningAnimation {
  0% {
    color: cadetblue;
    transform: scale(1);
  }
  100% {
    color: rgb(255, 123, 0);
    transform: scale(1.1);
  }
}
