body {
    background-color: #f2f2f2;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes wiggle {
    0% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}

.title {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 
        1px 1px 0 #353f2d,
        2px 2px 0 #353f2d,
        3px 3px 0 #353f2d,
        4px 4px 0 #353f2d,
        5px 5px 0 #353f2d,
        6px 6px 0 #353f2d,
        7px 7px 0 #353f2d,
        8px 8px 0 #353f2d,
        9px 9px 0 #353f2d,
        10px 10px 0 #353f2d;
    transform: rotate(-2deg);
    margin-bottom: 30px;
    color: #ace129;
    cursor: pointer;
}

.account-deposit-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
}

.dropdown-area {
    position: relative;
    margin-right: 20px;
}

.signin-button {
    background-color: #7da31d;
    color: #fff;
    padding: 10px 40px 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background-image: url('./images/joyid-logo.png');
    background-size: 25px;
    background-position: right 15px center;
    background-repeat: no-repeat;
    margin-top: 500px;
}
  
.signin-button:hover {
    background-color: #000;
    color: #A8E72F;
}

.account-button {
    background-color: #597415;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-size: 25px;
    background-position: right 10px center;
    background-repeat: no-repeat;
    font-weight: bold;
}

.account-button:hover {
    background-color: #000;
    color: #A8E72F;
}

.signout-button {
    background-color: #597415;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
    transition: transform 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 25px;
    background-position: right 10px center;
    background-repeat: no-repeat;
}

.signout-button:hover {
    background-color: #000;
    color: #A8E72F;
}

.dropdown-menu {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #5b5b5b;
    padding: 2px;
    border-radius: 5px;
    z-index: 1;
    color: #2e2f22;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    animation: dropdownFadeIn 0.5s ease-in-out;
    width: 200px;
    word-wrap: break-word;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

@keyframes dropdownFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.deposit-button {
    background-color: #597415;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 25px;
    background-position: right 10px center;
    background-repeat: no-repeat;
    font-weight: bold;
}
  
.deposit-button:hover {
    background-color: #000;
    color: #A8E72F;
}

.deposit-textbox {
    background-color: #ffffff;
    color: #808080;
    padding: 10px 20px;
    border: 2px solid #35a50c;
    border-radius: 5px;
    cursor: pointer;
    animation: blink 1s infinite;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease-in-out;
    min-height: 100vh;
}

.dao-link {
    color: textColor;
    font-size: 1em;
    position: absolute;
    bottom: 35%;
}

.cell-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    grid-gap: 0px;
}

@keyframes blink {
    0% {
        border-color: #bd491398;
    }
    50% {
        border-color: #ffffff;
    }
    100% {
        border-color: #00c891;
    }
}

.no-deposit-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2em;
    font-weight: bold;
    color: #73951c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    animation: bounce 1s ease-in-out infinite;
    margin-top: 150px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-circle {
    border: 4px solid #333;
    border-top-color: transparent;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loading-circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tx-confirmation-message {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    animation: blink 1s infinite;
}

.description {
    margin-top: -5px;
    font-size: 15px;
    color: #cfcece;
    font-weight: bold;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.dao-cell-dummy {
    border: 1px solid #ddd;
    padding: 3px;
    margin: 3px;
    border-radius: 50px;
    width: var(--cellWidth);
    height: var(--cellHeight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.15);
    position: relative;
}

.dao-cell {
    border: 1px solid var(--backgroundColor);
    padding: 3px;
    margin: 3px;
    border-radius: 50px;
    width: var(--cellWidth);
    height: var(--cellHeight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.15);
    transform: perspective(1000px) rotateY(1deg);
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;
    animation: dropdownFadeIn 0.5s ease-in-out;
    font-size: 1.2em;
    position: relative;
}

.dao-cell:hover {
    transform: scale(1.05);
    color: textColor;
    position: relative;
}

.dao-cell-button {
    background-color: var(--buttonColor);
    color: var(--buttonTextColor);
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 0.8em;
    position: absolute;
    bottom: 5px;
}

.background-image {
    background-image: url('./images/dao-safe.jpg');
    background-size: 350px;
    background-position: center;
    background-repeat: no-repeat;
}
  
.ReactModal__Content {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 20px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    align-self: flex-start;
    margin-top: 25vh;
    min-height: 30vh;
}

.modal-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-loading-circle {
    border: 4px solid #333;
    border-top-color: transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.modal-loading-circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button.proceed, button.cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.proceed {
    background-color: #448635; /* Green */
    color: white;
}

button.proceed:disabled {
    background-color: #cccccc; /* Gray */
    cursor: not-allowed;
}  

button.cancel {
    background-color: #b6382f; /* Red */
    color: white;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.dao-cell.shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}  
  
@media only screen and (max-width: 768px) {
    .title {
        font-size: 3em;
        margin-top: 20px;
    }

    .account-deposit-buttons {
        margin-bottom: 40px;
    }

    .signin-button, .account-button, .signout-button, .deposit-button {
        width: 150px;
        height: 45px;
        padding: 5px 20px 5px 10px;
        font-size: 14px;
        margin-bottom: 30px;
        font-weight: bold;
    }

    .signin-button {
        margin-top: 400px;
        background-position: right 10px center;
        background-size: 35px;
        padding-left: 2px;
        width: 180px;
        height: 50px;
        font-size: 1.5em;
        font-weight: bold;
    }

    .container {
        width: 100%;
        min-height: 800px;
        padding: 0px;
        margin-top: 0px;
    }

    .dao-cell-dummy {
        padding: 3px;
        margin: 3px;
        font-size: 16px;
        height: var(--cellHeight);
    }

    .dao-cell {
        padding: 3px;
        margin: 3px;
        font-size: 16px;
        height: var(--cellHeight);
    }

    .dao-cell-button {
        font-size: 0.8em;
    }

    .deposit-textbox {
        padding: 5px 10px;
        width: 150px;
        height: 35px;
    }

    .no-deposit-message {
        font-size: 1em;
    }

    .tx-confirmation-message {
        font-size: 14px;
    }

    .description {
        margin-top: -20px;
        font-size: 18px;
        color: #262626;
    }

    .background-image {
        background-image: url('./images/dao-safe.jpg');
        background-size: 400px;
        background-position: top 165px center;
        background-repeat: no-repeat;
    }

    .dropdown-menu {
        margin-top: -27px;
        height: 130px;
    }

    .ReactModal__Content {
        max-width: 40vh;
        padding: 20px;
        background-color: #ffffff;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.15);
        transition: transform 0.5s ease-in-out;
    }
}
